<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">

        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="Cadastrar Automóvel" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>

        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="automovel" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedAutomovel" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} para {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">CADASTRO DE AUTOMÓVEIS</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>

                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableCheckbox [value]="automovel"></p-tableCheckbox>
                </th>
                <th pSortableColumn="placa">PLACA <p-sortIcon field="placa"></p-sortIcon></th>
                <th pSortableColumn="veiculo">VEÍCULO <p-sortIcon field="veiculo"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr *ngFor="let item of automovel">
                <td>

                </td>
                <td>{{item.placa}}</td>
                <td>{{item.veiculo}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editAutomovel(automovel)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAutomovel(automovel)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">

            </div>
        </ng-template>
    </p-table>
</div>

<form #form="ngForm" (ngSubmit)="addAutomovel()">
  <p-dialog [(visible)]="automovelDialog" [style]="{width: '450px'}" header="Cadastro Pessoas" [modal]="true" (onHide)="onHide()" styleClass="p-fluid">
      <ng-template pTemplate="content">
          <div class="p-field">

              <label for="name">PLACA:</label>
              <input type="text" pInputText class="form-control" id="placa" name="placa" [(ngModel)]="addAutomovelRequest.placa">

          </div>
          <div class="p-field">
              <label for="cpf">Veiculo:</label>
              <input type="text" pInputText class="form-control" id="veiculo" name="veiculo" [(ngModel)]="addAutomovelRequest.veiculo">

          </div>
      </ng-template>

      <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
          <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"></button>
      </ng-template>


  </p-dialog>
  </form>

  <p-confirmDialog [style]="{width: '450px'}" (onHide)="onHide()"></p-confirmDialog>



